/*Google font*/
*{
    box-sizing: border-box;
}
 header,
 section{
     overflow-x: hidden;
 }

 header a{
     font-family: 'Courier New', Courier, monospace;
     font-size: 0.9em;
     color: whitesmoke;
 }

 header{
    background: blue;
    background: linear-gradient(blue);
 }
 header .nav-item:last-child{
     padding-right: 10.5em;
 }
 header .nav-item{
     padding:0.9em;
 }
 header .navbar-brand {
     padding-left: 8rem;
 }
 header .nav-link:hover {
     color:black;
 }
 header .row.col-md-5 {
     padding: 4.2vmin 1vmin;
 }
 header .row .col-md-7 {
     padding:22vmin 1vmin;
     padding-bottom: 35vmin;
     font-family: 'Courier New', Courier, monospace;
     color: cornsilk;
 }
 header .row .col-md-5 img {
     width: 90%;
 }
 header .container .col-md-7 h6 {
     padding: 1vmin;
     letter-spacing:4px;

 }
 header .container .col-md7 h1 {
     font-size:8.5vmin;
     font-weight: bold;
     padding:0.1em 0em;
 }
 header .container .col-md-7 p {
     padding: 1vmin 5vmin;
 }
 header .container .col-md-7 button {
     border-radius: 30px;
     font-weight: bold;
 }


 /* section 1*/
 .section-1{
     padding:20vmin 0;
 }

.section-1 .row .col-md-6 .About img {
    opacity: 0.8;
    width: 20%;
    border-radius: 0.2em;
}